.about-container {
    margin-top: 6rem;
    margin-bottom: 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about-img-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}
.about-container img {
    width: 360px !important;
    height: 210px !important;
    padding: 2rem !important;
}
.about-container h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.about-container p {
    font-size: 18px;
    margin-bottom: 2rem;
}